// Tipografia Poppins
@mixin typeface-1($size, $device: desktop) {
  font-family: "Poppins", sans-serif;

  // h1
  @if $size == h1 and $device == desktop {
    font-size: 3rem !important;
    line-height: 120%;
  } @else if $size == h1 and $device == mobile {
    font-size: 2rem !important;
    line-height: 120%;
  }

  // H2
  @if $size == h2 and $device == desktop {
    font-size: 2.5rem !important;
    line-height: 3.75rem;
  } @else if $size == h2 and $device == mobile {
    // font-size: 2.5rem;
    // line-height: 3.75rem;
  }

  // H3
  @else if $size == h3 and $device == desktop {
    font-size: 1.5rem !important;
    line-height: 2rem;
  } @else if $size == h3 and $device == mobile {
    // font-size: 24px;
    // line-height: 120%;
  }

  // H4
  @else if $size == h4 and $device == desktop {
    font-size: 1.125rem !important;
    line-height: 120%;
  } @else if $size == h4 and $device == mobile {
    // font-size: 22px;
    // line-height: 120%;
  }

  // H5
  @else if $size == h5 and $device == desktop {
    font-size: 1.25rem !important;
    line-height: 120%;
  } @else if $size == h5 and $device == mobile {
    font-size: 1rem;
    line-height: 120%;
  }

  // H6
  @else if $size == h6 and $device == desktop {
    font-size: 1.625rem !important;
    line-height: 120%;
  } @else if $size == h6 and $device == mobile {
    font-size: 1.25rem !important;
    line-height: 120%;
  }

  // p
  @else if $size == p and $device == desktop {
    font-size: 1.125rem;
    line-height: 140%;
  } @else if $size == p and $device == mobile {
    font-size: 1.125rem;
    line-height: 2rem;
  }

  // a
  @else if $size == a1 and $device == desktop {
    font-size: 1.25rem;
    line-height: 100%;
  } @else if $size == a1 and $device == mobile {
    font-size: 1.125rem;
    line-height: 100%;
  }
}

.h1 {
  font-weight: 500;
  @include typeface-1(h1, desktop);
  @include responsive(s) {
    @include typeface-1(h1, mobile);
  }
}

.h2 {
  font-weight: 300;
  @include typeface-1(h2, desktop);
  @include responsive(s) {
    @include typeface-1(h2, mobile);
  }
}

.h3 {
  font-weight: 300;
  @include typeface-1(h3, desktop);
  @include responsive(s) {
    @include typeface-1(h3, mobile);
  }
}

.h4 {
  font-weight: 500;
  @include typeface-1(h4, desktop);
  @include responsive(s) {
    @include typeface-1(h4, mobile);
  }
}

.h5 {
  font-weight: 300;
  color: #7d7d7d;
  @include typeface-1(h5, desktop);
  @include responsive(s) {
    @include typeface-1(h5, mobile);
  }
}

.h6 {
  font-weight: 500;
  color: $black;
  @include typeface-1(h6, desktop);
  @include responsive(s) {
    @include typeface-1(h6, mobile);
  }
}

p {
  font-weight: 300;
  @include typeface-1(p, desktop);
  @include responsive(s) {
    @include typeface-1(p, mobile);
  }
}

a {
  color: inherit !important;
  font-weight: unset !important;
  background: unset !important;
  @include typeface-1(a1, desktop);
  @include responsive(s) {
    @include typeface-1(a1, mobile);
  }
}

// BOTÕES
.btn {
  font-size: 1.25rem;
  line-height: 120%;
  font-weight: 700;
  text-decoration: none;
}

.btn-pri {
  border-radius: 30px;
  padding: 1rem 2rem;
  font-weight: 700 !important;
  &::after {
    content: "➞";
    margin-left: 10px;
  }
}

.btn-sec {
  background: linear-gradient(244.87deg, #5f94df -16.34%, #115fa8 62.79%);
  display: inline-flex;
  padding: 1rem 3rem;
  color: $white;

  img {
    margin-left: 10px;
  }
}

.btn-blue {
  color: $white !important;
}

.btn-white {
  background: $white;
  color: $black;
  box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.08);
  width: fit-content;
  font-weight: 300;
}

.btn-arrow {
  display: inline-block;
  transition: 0.3s;
  img {
    margin-left: 10px;
    transform: scale(1.5);
  }
  &:hover {
    opacity: 0.7;
  }
}
