#hero-home {
  height: 100vh;
  background-color: $black;
  .hero-txt {
    padding: 0 20px;
    height: 100vh;
    display: grid;
    align-items: center;
    .h1 {
      grid-column: span 2;
      padding-right: 80px;
    }
    .h3 {
      color: $white;
    }
    .btn-pri {
      margin-top: 20px;
      text-align: center;
    }
  }
  @include responsive(s) {
    height: auto;
    .hero-txt {
      height: auto;
      padding: 120px 20px;
      grid-template-columns: 1fr;
      gap: 60px 0;
      text-align: center;
    }
    .h1 {
      padding-right: 0px !important;
    }
  }
}
