#post {
  padding-top: 80px;
}
#article-content-advbox {
  grid-column: span 4;
  padding: 0 80px;
  color: #3b454e;
  h1 {
    color: #3b454e;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    padding-bottom: 40px;
  }
  h2 {
    color: $blue-normal;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    padding: 40px 0 20px 0;
  }
}
